/tests export-ignore
/phpunit.xml export-ignore
/.github export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/bootstrap export-ignore
/public export-ignore
/postman export-ignore
/docs export-ignore
/routes export-ignore